<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.temenos.ds.op.xtext.ui.multigenerator">
      <multigenerator
            class="com.temenos.ds.op.xtext.generator.tests.TestMultiGenerator">
      </multigenerator>
   </extension>

</plugin>
